 body{
  margin: 0;
  padding: 0;
  }
  .cart{
  width: unset;
  height: 450px;
  margin: 30px;
  }
  .cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
	  padding: 10px;}

.cart-content	 {
	border-bottom: 1px solid #333;
	align-items: center;
} 
  .single-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  }
  .single-item img{
    padding-top: 10px;
  width:150px;
  height: 110px;
 
  }
  .single-item-details{
  padding-right: 75px;
	  padding-top: 25px;
 
  }
  .single-item-details h3{
  margin: 0;
  font-size: 20px;
 
  }
  .single-item-details p{
  margin: 0;
  font-size: 17px;
  }
  .quantity{
   margin: 0;
   font-size: 17px;
  }
  
 .subtotal {
  display: flex;
  justify-content:space-around;
  margin-bottom: 100px;
  font-size: 28px;
  font-weight: var(--fw-700);
}
